* {
	box-sizing: border-box;
}

html, body {
	font-family: 'Roboto', sans-serif;
	margin: 0em;
	font-size: 1.2em;
	height: 100%;
}



#main {
	margin: 1em;
	padding: 0;
	min-height: 100%;
}

header, footer {
	margin: 4px;
	padding: 1em;
	display: block;
	min-height: 80px;
	text-align: center;
	background-color: #aeb0b5;
	color: #fff;
}

footer {
	font-style: italic;
	height: 50px;
}

.buttonContainer {
	margin-bottom: 10px;
	font-size: 0.6em;
}

.form-group {
	margin: 0 auto;
}

.btn {
	height: 50px;
	width: 200px;
	font-style: 20px;
	font-weight: bold;
	box-shadow: 0px 0px 5px 0px (0, 0, 0, 0.55);
	transition: background 0.3s;
	cursor: pointer;
	display: table;
	margin-top: 10px;
}

.btn span {
	padding: 20px;
	color: #02bfe7;
	box-shadow: 0 0 0 3px #02bfe7 inset;
	background: transparent;

}

.btn .begin {
	vertical-align: middle;
	text-align: center;
	display: table-cell;
}

.btn .over {
	display: none;
}

.btn:hover span.begin {
	display: none;
}

.btn:hover span.over {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: white;
	box-shadow: none;
}

.btn:hover {
	background-color: #02bfe7;
}


/*table styling*/
.game {
	display: table;
	width: auto;
	background-color: #d6d7d9;
	border-spacing: 5px;
}

.row {
	display: table-row;
	width: auto;
	clear: both;
}

.cell {
	display: table-cell;
	width: auto;
	background-color: #f1f1f1;
	text-align: center;
	color: #f1f1f1;
	padding: 3px;
}

.bomb {
	color: #cd2026;
}

.safe {
	color: #4aa564;
}

.caution {
	color: #fdb81e;
}

.clicked {
	visibility: hidden;
}



/* media queries for responsiveness */

@media all and (max-width: 640px) {
	#main {
		-webkit-flex-flow: column;
		flex-flow: column;
		-webkit-order: 0;
		order: 0;
		min-height: 50px;
	}
}
