* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	margin: 1em;
	font-size: 1.2em;
}



#main {
	marin: 0;
	padding: 0;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row;
	flex-flow: row;
}

header, footer {
	margin: 4px;
	padding: 1em;
	display: block;
	min-height: 80px;
	text-align: center;
	background-color: #C0C0C0;
	color: #fff;
}

footer {
	font-style: italic;
}

/*table styling*/
.game {
	display: table;
	width: auto;
	background-color: #eee;
	border: 1px solid black;
	border-spacing: 5px;
}

.row {
	display: table-row;
	width: auto;
	clear: both;
}

.cell {
	display: table-cell;
	width: 200px;
	background-color: #ccc;
	text-align: center;
	color: #ccc;
}

.bomb {
	color: #CA0926;
}

.safe {
	color: #3AB313;
}

.caution {
	color: #FFCF15;
}

.clicked {
	visibility: hidden;
}



/* media queries for responsiveness */

@media all and (max-width: 640px) {
	#main {
		-webkit-flex-flow: column;
		flex-flow: column;
		-webkit-order: 0;
		order: 0;
		min-height: 50px;
	}
}
